/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding-top: 40px;
}

.dados p {
	font-size: 16px;
	margin-bottom: 14px;
}

.dados td {
	font-size: 16px;
	padding-bottom: 14px;	
	padding-right: 20px;
}

.dados-index p {
	font-size: 12px;
	margin-bottom: 5px;
}

.dados-index td {
	font-size: 12px;
	padding-bottom: 3px;	
	padding-right: 20px;
}

.dados-index table {
	margin-top: 15px;
	margin-bottom: 15px;
}

.safe {
	color: green;
}

.dangerous {
	color: red;
}